
    <hr>
    <p>Copyright 2017; voici la partie footer! depuis un partial</p>
  <script>
    const form = document.querySelector('form');
    form.addEventListener("submit", addMovies);
    function addMovies(event) {
      event.preventDefault()
    }

  </script>
