// header
$bleu1  : #AADBDB;
$bleu2  : #C4D2FC;
$bleu3  : #00338d;
$bleu4  : #0B0036;
$gris1  : #bbb;
$gris2  : #8791a4;
$rose1  : #db4d69;
$marron : #564026;
$blanc	: white;
$blanc2 : #f6f3ed;
$bleu5  : #007C92;

@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
// @import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

$Montserrat: 'Montserrat', sans-serif;
// $Abel: 'Abel', sans-serif;
$OpenSans : 'Open+Sans:300', sans-serif;

// @font-face {
//     font-family: 'misoregular';
//     src: url(miso-webfont.woff2) format('woff2'),
//          url(miso-webfont.woff) format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
//
// @font-face {
//   font-family: 'montserratsemibold';
//   src: url(montserrat-semibold-webfont.woff2) format("woff2"), url(montserrat-semibold-webfont.woff) format("woff");
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'montserratregular';
//   src: url(montserrat-regular-webfont.woff2) format("woff2"), url(montserrat-regular-webfont.woff) format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

body {
	font-family: 'montserratregular';
	color: $marron;
}
//
// .container-fluid	 {
// 	padding-left: 0px;
// 	padding-right : 0px;
// }
//

// HEADER => EN TETE
.contenu {
	margin: auto;

  	header {
  		height: 120px;
  		width: 100%;
  	  background-color: $bleu3;
  		border-bottom : 5px solid $gris1;
  		z-index: 100;
  		display: inline-block;

  		.logo {
  		  float: left;
  			//padding: 15px;
      	padding: 14px 0px 15px 35px;
  		}

  		.navbar-header {
  			float: none;
  		}

  		.navbar-right {
  			float: right !important;
  			margin-right: 0px;

  		}

  		nav ul{
  			font-family: $OpenSans;
  			color: $bleu3;
  			margin-top: 40px;
  			background-color: $blanc;

  		.menu {
    			&:nth-child(1) {
    				border-bottom : 5px solid $gris2;
    			}
    			&:nth-child(2) {
    				border-bottom : 5px solid $bleu1;
    			}
    			&:nth-child(3) {
    				border-bottom : 5px solid $rose1;
    			}
  			width: 181px;

  			a{
  				font-size: 20px;
          font-weight: bold;
  				letter-spacing: -1px;
  				text-transform: uppercase;
  				text-align: center;
  				width: 100%;
  				color: $bleu3;
  			}

  			.dropdown-menu {
  				background-color: $blanc2;
  				width: 280px;
  				font-family: $Montserrat;
  				padding: 15px;

          a{
    				color: $marron;
    				text-transform: initial;
    				font-weight: normal;
    				text-align: left;
    				border-bottom: 1px solid $blanc;
    				//width: 90%;
    				font-size: 20px;
    				margin-top: 10px;
    				margin-bottom: 10px;
    				margin-left: 0px;
    				margin-right: auto;

              &:hover {
    						//font-weight: 100;
    						color : $rose1;
    						border-bottom: 5px solid $rose1;
    					}
    					&:last-child {
    						//	border-bottom: none;
    					}
    			  }

			  }
			  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
					  background-color: $blanc2;
					  border-color: $blanc2;
			  }
		  }
	  }
  }
}

.header {
	height: 120px;
	width: 100%;
  display: inline-block;
  background-color: $bleu3;
	border-bottom : 5px solid $gris1;
	z-index: 1000;
}


// Partie ACCUEIL.PHP
#accueil {
	.row {
		margin: 0px;
		padding: 0px;
		.introAccueil{
			h1 {
				font-family: $OpenSans;
				color: $bleu3;
				font-size: 3em;
				.marron {
					color: $marron;
				}
			}
			p{
				font-size: 1.5em;
				color: $bleu3;
				font-family: $OpenSans;

			}

		}

    // .intro {
		// 	font-family: 'montserratregular';
		// 	color: $marron;
		// 	font-size: 1.2em;
		// 	line-height: 2em;
		// 	float: left;
		// 	margin-bottom: 20px;
		// }
	}
		.libelluleHead{
			width: 100px;
			height: 79px;
			background-image: url("../../img/libellule_bleue.png" );
			margin-top: 100px;
			margin-left: 20px;
			transform: rotate(-17deg);
		}
}

section {
	.accueilBack{
		background-color:#007C92;
	}
	.axes{

		height:650px;
		width: 100%;
		flex-wrap: nowrap;
		text-shadow: 1px 1px 1px rgba(106, 106, 106, 1.0);

    .axe {
			width: 377px;
			height: 650px;
			float: left;
			color: $blanc;
			text-align: center;
			display: block;
			cursor: pointer;

			a {
				color: white;
			}
			h2 {
				color: white;
				  &:hover{
					  color: white;
					  text-decoration:none;
					}
			}
			div img {
				height: 460px;
				width: 100%;
				overflow: hidden;
				  &:hover {
					  opacity:0.8;
				  }
			}
			&:hover {
				opacity:0.8;
				-webkit-box-shadow: 0px 1px 2px 3px rgba(255,255,255,1);
				-moz-box-shadow: 0px 1px 2px 3px rgba(255,255,255,1);
				box-shadow: 0px 1px 2px 3px rgba(255,255,255,1);
				  a {
					  text-decoration:none;
					}
			}
		}
		h2 {
			font-family: $OpenSans;
			text-transform: uppercase;
			font-weight: bold;
		}
		h2 a:hover {
			color: white;
			}
		h3 {
			font-family: $OpenSans;
			text-transform: uppercase;
			font-weight: bold;
			}
		p {
			font-family: $Montserrat;
			font-size: 1.2em;
			margin-top: 0px;
	  }
	  .logement{
	    border-top : 5px solid $rose1;
	    background-color: $rose1;
			h2 {
		   	font-size: 3.5em;
		    margin-bottom: 0px;
		    margin-top: 30px;
		  }
    	p {
    		font-size: 1.3em;
    		margin-top: 0px;
    	}

	  }
		.education {
			border-top : 5px solid $bleu3;
			background-color: $bleu3;
			h2 {
		   	font-size: 2.8em;
		    margin-bottom: 35px;
		    margin-top: 35px;
			}
    	p {
    		font-size: 1.3em;
    		padding-bottom: 15px;
		    margin-top: -15px;
		    width: 80%;
		    margin-left: auto;
		    margin-right: auto;
		    line-height: 1.2em;
		    width: 70%;
    	}
		}
		.sante {
			border-top : 5px solid $bleu2;
			background-color: $bleu2;
			h2 {
		   	font-size: 2.8em;
		    margin-top: 5px;
      }
			h3 {
		   	font-size: 3.5em;
		    margin-bottom: 0px;
		    margin-top: -20px;
			}
    	p {
    		font-size: 1.3em;
    		margin-top: -5px;
    		padding-bottom: 15px;
    		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);;
    	}
		}
	}
}
section.citation {
			background-color: $blanc2;
			width: 100%;

  			.citation_image{
  			display: block;
  			background-image: url("../../img/femme.png");
  			background-repeat: no-repeat;
  			width: 100%;
  			height: 525px;
  			}
  			.citation_texte{
					font-family: $OpenSans;
					color: $bleu3;
					font-size: 3em;
					letter-spacing: -0.05em;
					position:absolute;
  				margin-top: -350px;
  				margin-left: 530px;
  				//right: 0px;
  				line-height: 55px;
  			}
				.auteur {
					font-family: $Montserrat;
					color: $marron;
					font-size: 1.5em;
					margin-left: 445px;
  				margin-top: -50px;
  				letter-spacing: -0.05em;
				}
		  	.libellule_blanche{
					width: 200px;
					height: 200px;
					background-image: url("../../img/libellule_blanche.png"  );
					background-repeat: no-repeat;
					position:absolute;
					margin-top:  -150px;
					right: 400px;
		  	}
}

section.slider_projets {
			background-color: $blanc2;
			padding-bottom: 50px;
}


//FOOTER => BAS DE PAGE

footer {
	color: white;
	text-align: center;
	font-family: $Montserrat;
	font-size: 18px;
	line-height: 180%;
	height: 480px;
	width: 100%;

	background: #007C92; /* Old browsers */
	background: -moz-linear-gradient(180deg, $bleu5 0%, $bleu2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(180deg, $bleu5 0%, $bleu2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(180deg, $bleu5 0%, $bleu2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c92', endColorstr='#aadbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	//display: inline-block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007c92+0,aadbdb+100 */


		.row {
		    margin-right: 0px;
		    margin-left: 0px;

		.adresse {
  			color: white;
  			text-align: right;
  			width: 50%;
  			height: 300px;
  			border-right: 1px solid white;
  			padding-right: 50px;
  			margin-top : 30px;
  			float: left;
      	h4 {
    				font-size: 22px;
    		}
		}
		.logofooter {
			margin-top : 64px;
			margin-left : 45px;
			float: left;
		}
  }
	a{
		color:white;
		&:hover {
			color: #db4d69;
		}
	}
}
