/* line 1, ../../sass/sass/logement.scss */
* {
  margin: 0 auto;
  padding: 0 auto;
}

/* line 6, ../../sass/sass/logement.scss */
#logement {
  font-family: 'montserratregular', sans-serif;
}
/* line 9, ../../sass/sass/logement.scss */
#logement .header {
  background-color: #db4d69;
  color: white;
  font-family: 'montserratregular', sans-serif;
}
/* line 15, ../../sass/sass/logement.scss */
#logement .icon-home-outline {
  font-size: 10em;
}
/* line 20, ../../sass/sass/logement.scss */
#logement .LogementFirst h1 {
  font-size: 5.2em;
  font-family: 'montserratregular', sans-serif;
}
/* line 25, ../../sass/sass/logement.scss */
#logement .LogementFirst span {
  font-family: 'montserratregular', sans-serif;
  font-size: 1.5em;
}
/* line 31, ../../sass/sass/logement.scss */
#logement .ImageHeader img {
  margin-left: 22%;
}
/* line 36, ../../sass/sass/logement.scss */
#logement .main {
  font-family: 'montserratregular', sans-serif;
}
/* line 39, ../../sass/sass/logement.scss */
#logement .main .LogementSecond {
  padding-top: 5%;
}
/* line 42, ../../sass/sass/logement.scss */
#logement .main .LogementSecond h2 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'montserratsemibold', sans-serif;
  color: #564026;
}
/* line 48, ../../sass/sass/logement.scss */
#logement .main .LogementSecond p {
  padding-top: 5%;
  line-height: 2em;
  font-size: 1.6em;
  color: #564026;
}
/* line 55, ../../sass/sass/logement.scss */
#logement .main .LogementSecond .LogementThird {
  background: linear-gradient(to left, #f6f3ed, white);
  margin-top: 5%;
  font-family: 'montserratregular', sans-serif;
}
/* line 59, ../../sass/sass/logement.scss */
#logement .main .LogementSecond .LogementThird p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #00338d;
  width: 85%;
}
/* line 66, ../../sass/sass/logement.scss */
#logement .main .LogementSecond .LogementThird p::before {
  content: "<<";
  font-size: 3em;
  color: #00338d;
}
/* line 72, ../../sass/sass/logement.scss */
#logement .main .LogementSecond .LogementThird p::after {
  content: ">>";
  font-size: 2em;
  color: #00338d;
}
/* line 77, ../../sass/sass/logement.scss */
#logement .main .LogementSecond .LogementThird h5 {
  color: #00338d;
  float: right;
  margin-top: 15%;
  padding-bottom: 5%;
}
/* line 84, ../../sass/sass/logement.scss */
#logement .main .LogementSecond .LogementThird img {
  float: right;
  margin-top: -14%;
}
/* line 91, ../../sass/sass/logement.scss */
#logement .main .LogementForth {
  background-color: #AADBDB;
  position: absolute;
  right: 0;
  height: 100%;
  font-family: 'montserratregular', sans-serif;
}
/* line 98, ../../sass/sass/logement.scss */
#logement .main .LogementForth h5 {
  margin-top: 100px;
  color: white;
  font-size: 2em;
  font-family: 'montserratregular', sans-serif;
  text-align: center;
}
/* line 105, ../../sass/sass/logement.scss */
#logement .main .LogementForth .btn_info {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  color: #8791a4;
  font-family: 'misoregular', sans-serif;
  text-transform: uppercase;
  border-radius: 5%;
  margin-top: 10%;
  font-size: 17px;
  border-radius: 14px;
  border: 0px;
  margin-left: 17%;
}
/* line 119, ../../sass/sass/logement.scss */
#logement .main .LogementForth img {
  margin-top: 50%;
  margin-left: 15%;
}

/* line 126, ../../sass/sass/logement.scss */
#LogementB {
  font-family: 'montserratregular', sans-serif;
}
/* line 129, ../../sass/sass/logement.scss */
#LogementB .LogementFifth {
  background-color: #db4d69;
}
/* line 131, ../../sass/sass/logement.scss */
#LogementB .LogementFifth h3 {
  color: white;
  font-size: 2.3em;
}
/* line 135, ../../sass/sass/logement.scss */
#LogementB .LogementFifth .icon-home-outline {
  color: white;
  margin-top: 2%;
}
/* line 139, ../../sass/sass/logement.scss */
#LogementB .LogementFifth .icone2 {
  margin-top: 10px;
}

/* line 144, ../../sass/sass/logement.scss */
#LogementC {
  margin-top: 2%;
  margin-left: 21%;
  font-family: 'montserratregular', sans-serif;
}
/* line 149, ../../sass/sass/logement.scss */
#LogementC .rubrique {
  margin-left: 5%;
  margin-bottom: 10%;
  display: block;
}
/* line 154, ../../sass/sass/logement.scss */
#LogementC .image {
  margin-bottom: 2%;
}
/* line 156, ../../sass/sass/logement.scss */
#LogementC .image img {
  float: left;
  width: 175px;
  height: 175px;
  border-left: 6px solid #db4d69;
}
/* line 163, ../../sass/sass/logement.scss */
#LogementC h4 {
  margin-left: 30%;
}
/* line 166, ../../sass/sass/logement.scss */
#LogementC p {
  margin-left: 30%;
  width: 50%;
}
/* line 171, ../../sass/sass/logement.scss */
#LogementC .ImageLogo img {
  position: absolute;
  left: 3%;
  margin-top: 13%;
}
