/* line 1, ../../sass/sass/mission.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../../sass/sass/mission.scss */
.mission .headerMission {
  background-color: white;
  width: 100%;
  height: 125px;
}
/* line 11, ../../sass/sass/mission.scss */
.mission .headerMission h1 {
  text-align: justify;
  padding-top: 1%;
  padding-left: 2%;
  font-size: 4.5em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #00338d;
}
/* line 21, ../../sass/sass/mission.scss */
.mission .MissionFirst {
  background-color: #f6f3ed;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 26, ../../sass/sass/mission.scss */
.mission .MissionFirst h1 {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  color: #db4d69;
}
/* line 31, ../../sass/sass/mission.scss */
.mission .MissionFirst p {
  font-family: 'Montserrat', sans-serif;
  color: #564026;
  font-size: 1.5em;
  line-height: 2.5em;
}
/* line 38, ../../sass/sass/mission.scss */
.mission .MissionSecond {
  display: flex;
  width: 100%;
  height: 100%;
}
/* line 43, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeft {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding-top: 5%;
}
/* line 48, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeft h2 {
  color: #564026;
  font-size: 1.8em;
  margin-bottom: 5%;
  text-align: center;
}
/* line 54, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeft p {
  font-family: 'Montserrat', sans-serif;
  color: #564026;
  font-size: 1.7em;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 5%;
}
/* line 62, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeft li {
  color: #564026;
  font-size: 1.6em;
  margin-left: 10%;
}
/* line 68, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeftCitation {
  background: linear-gradient(to left, #f6f3ed, white);
  font-family: 'montserratregular', sans-serif;
  padding-top: 6%;
}
/* line 72, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeftCitation p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #00338d;
  width: 85%;
}
/* line 78, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeftCitation p::before {
  content: "<<";
  font-size: 3em;
  color: #00338d;
}
/* line 83, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeftCitation p::after {
  content: ">>";
  font-size: 2em;
  color: #00338d;
}
/* line 88, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeftCitation h5 {
  color: #00338d;
  float: right;
  margin-top: 15%;
  padding-bottom: 5%;
}
/* line 94, ../../sass/sass/mission.scss */
.mission .MissionSecond .MissionSecondLeftCitation img {
  float: right;
}
/* line 99, ../../sass/sass/mission.scss */
.mission .MissionSecondRight {
  width: 25%;
  background-color: #AADBDB;
}
/* line 102, ../../sass/sass/mission.scss */
.mission .MissionSecondRight h5 {
  margin-top: 100px;
  color: white;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
/* line 109, ../../sass/sass/mission.scss */
.mission .MissionSecondRight .btn_info {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  color: #8791a4;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border-radius: 5%;
  margin-top: 10%;
  font-size: 17px;
  border-radius: 14px;
  border: 0px;
  margin-left: 17%;
}
/* line 123, ../../sass/sass/mission.scss */
.mission .MissionSecondRight img {
  margin-top: 25%;
  margin-left: 15%;
}
/* line 128, ../../sass/sass/mission.scss */
.mission .MissionThird {
  display: flex;
  width: 100%;
  height: 100%;
}
/* line 133, ../../sass/sass/mission.scss */
.mission .MissionThird .MissionThirdImage {
  background-color: aqua;
  width: 50%;
  height: 300px;
}
/* line 138, ../../sass/sass/mission.scss */
.mission .MissionThird .MissionThirdLegende {
  background-color: green;
  width: 50%;
}
