/* Circular Content Carousel Style */
/* line 2, ../../sass/sass/style_carrousel.scss */
.ca-container {
  position: relative;
  margin: 0 auto 20px auto;
  padding-top: 50px;
  width: 1070px;
  height: 400px;
}

/* line 9, ../../sass/sass/style_carrousel.scss */
.ca-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 14, ../../sass/sass/style_carrousel.scss */
.ca-item {
  position: relative;
  float: left;
  width: 360px;
  height: 100%;
  color: #564026;
  font-family: 'montserratregular';
  font-size: 15px;
}

/* line 25, ../../sass/sass/style_carrousel.scss */
.ca-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff url(../images/cross.png) no-repeat center center;
  width: 27px;
  height: 27px;
  text-indent: -9000px;
  outline: none;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}

/* line 39, ../../sass/sass/style_carrousel.scss */
.ca-close:hover {
  opacity: 1.0;
}

/* line 42, ../../sass/sass/style_carrousel.scss */
.ca-item-main {
  border: 2px solid white;
  position: absolute;
  padding-bottom: 5px;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #fff;
  overflow: hidden;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 57, ../../sass/sass/style_carrousel.scss */
.ca-item-main:hover {
  background-color: #f6f3ed;
}

/* line 61, ../../sass/sass/style_carrousel.scss */
.ca-item h3 {
  font-family: 'misoregular';
  font-weight: 100;
  letter-spacing: -0.2px;
  text-align: left !important;
  background-color: #db4d69;
  font-size: 36px;
  color: #FFF;
  height: 60px;
  text-align: center;
  margin-top: 0px;
  padding-top: 5px;
}

/* line 76, ../../sass/sass/style_carrousel.scss */
.bleu h3 {
  background-color: #00338d;
}

/* line 80, ../../sass/sass/style_carrousel.scss */
.bleuclair h3 {
  background-color: #AADBDB;
}

/* line 84, ../../sass/sass/style_carrousel.scss */
.ca-item h3:hover {
  background-color: #8791a4;
  cursor: inherit;
}

/* line 91, ../../sass/sass/style_carrousel.scss */
.tech {
  background-color: #00338d !important;
}

/* line 96, ../../sass/sass/style_carrousel.scss */
.ca-item img {
  width: 50px;
  margin-top: 6px;
  margin-left: 6px;
}

/* line 104, ../../sass/sass/style_carrousel.scss */
.ca-item .btn {
  font-family: 'misoregular';
  text-transform: uppercase;
  background-color: #8791a4;
  color: white;
  font-size: 20px;
  border-radius: 14px;
  border: 0px;
}

/* line 115, ../../sass/sass/style_carrousel.scss */
.ca-item .btn:hover {
  background-color: #db4d69;
}

/* line 123, ../../sass/sass/style_carrousel.scss */
.ca-item p {
  padding: 13px;
  font-size: 17px;
}

/* line 129, ../../sass/sass/style_carrousel.scss */
.ca-nav span {
  width: 25px;
  height: 40px;
  background: transparent url(../js/carousel/images/arrows.png) no-repeat top left;
  position: absolute;
  top: 35%;
  margin-top: -19px;
  left: -100px;
  text-indent: -9000px;
  cursor: pointer;
  z-index: 100;
}

/* line 142, ../../sass/sass/style_carrousel.scss */
.ca-nav span.ca-nav-next {
  background-position: top right;
  left: auto;
  right: -100px;
}

/* line 147, ../../sass/sass/style_carrousel.scss */
.ca-nav span:hover {
  opacity: 1.0;
}
