<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ExpressJSTest</title>
    <link rel="stylesheet" href="../public/style.css" type="text/css">
  </head>
  <body>
    <div class="central">
      <% include ./partial/header %>

      <h1>Express Movies: les sites des cinéphiles</h1>
      <div>Etes vous plutot films ou séries ?</div>
    </div>


    <% include ./partial/footer %>
  </body>
</html>
